body{
    font-family: Arial, sans-serif;
    background-color: #0b52df;
    margin: 0;
    padding: 0;
}

h1{
    color: white;
    text-align: center;
    padding: 20px;
}
p{
    color: rgb(0, 0, 0);
    font-size: 18px;
    line-height: 1.6;
    margin: 20px;
}